@keyframes color{
  0%{
    width: 0%;
  }
  100%{
    width: 49%;
  }
}
@keyframes top_move{
  0%{
    left: 0%;
  }
  100%{
    left: 7%;
  }
}
@keyframes press_move{
  0%{
    left: 5%;
  }
  100%{
    left: 12%;
  }
}