@import url(keyframes.css);
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.onLoadCut {
  overflow: hidden;
}
#preloader {
  color: white;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: #aaa;
  transition: top 500ms linear 500ms;
}
#syringe-wrapper{
  width: 800px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
#syringe{
  border: 1px solid #111;
}
#syringe-press,#syringe-top{
  background: #222;
}
#syringe,#syringe-background{
  font-size: 2em;
  
  border-radius: 5px;
  height: 20%;
  text-align: center;
  position: absolute; top: 20%; left: 17%;
}
#syringe{
  padding: 3%;
  z-index: 4;
  width: 49%;
  height: 60%;
  position: absolute; top: 20%; left: 17%;
  border-radius: 5px 0px 0px 5px;
}
#syringe-background{
  padding: 0%;
  width: 0%;
  height: 60%;
  /*Background image from: subbtlepatterns.com*/
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern-black.png");
  animation-name: color;
  z-index: 3;
}
#syringe-background,#syringe-top,#syringe-press{
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#syringe-top{
  width: 5%;
  height: 100%;
  border-radius: 5px;
  position: absolute; top: 0%; left: 0%;
  animation-name: top_move;
  z-index: 2;
}
#syringe-press{
  width: 12%;
  height: 20%;
  position: absolute; top: 40%; left: 5%;
  z-index: 2;
  animation-name: press_move;
}

#syringe-end{
  position: absolute; top: 20%; left: 23.2%;
  z-index: 5;
}
.syringe-end-line{
  background: #aaa;
  stroke:#111;
  stroke-width:5px;
}
#app{
  width: 100%;
  text-align: center;
  color: #222;
  background: #aaa; 
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
}
@media screen and (max-width: 800px)
{
  #syringe-wrapper{
  width: 500px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
}
@media screen and (max-width: 490px){
#app{
  font-size: 3em;
}
#syringe-wrapper{
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 10%;
}
}
@media screen and (max-width: 360px){
  #syringe-wrapper{
  width: 350px;
  height: 87.5px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 10%;
  }
}